#faq {
    background: hsl(0, 0%, 98%);
}

.accordion {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__item {
        border-radius: var(--border-radius);
    }

    &__header {
        display: flex;
        align-items: center;

        position: relative;

        padding: 1.25rem;

        min-height: 3.5rem;

        cursor: pointer;

        font-weight: 500;
        line-height: 1.25rem;

        color: hsla(220, 24%, 12%, 1);

        transition: var(--transition);

        &:hover {
            cursor: pointer;
            color: var(--txt-color-special);
        }

        &::after {
            content: "\002B";

            position: absolute;
            right: 1rem;

            font-size: 26px;
            font-weight: 500;
            line-height: 24px;

            color: hsla(220, 24%, 12%, 1);
        }
    }

    &__header.active::after {
        content: "\2212";
    }

    &__body {
        overflow: hidden;

        max-height: 0;

        transition: max-height 0.2s ease-out;
    }

    &__content {
        text-align: left;

        padding: 0 1.25rem 1.25rem 1.25rem;

        font-size: 16px;
        font-weight: 400;
        line-height: 24px;

        color: hsla(220, 8%, 35%, 1);
    }
}
