.featured {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    &__card-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        justify-content: center;
        gap: var(--gap-card-wrapper);

        @media (width < 400px) {
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        }
    }

    &__card {
        display: flex;
        flex-direction: column;

        border: var(--border-glass);
        border-radius: var(--border-radius);
        padding-bottom: var(--padding);

        background-color: var(--bg-frosted-white);

        box-shadow: var(--shadow);

        &-image {
            border-radius: var(--border-radius) var(--border-radius) 0 0;
            margin-bottom: 0.5rem;

            aspect-ratio: 16 / 9;

            transition: var(--transition);
        }

        &:hover .featured__card-image {
            filter: saturate(1.35);
        }

        &-title {
            padding-left: var(--padding);
        }

        &-rating {
            margin-bottom: 1rem;
            padding-left: var(--padding);

            font-size: 1.5rem;

            color: var(--color-yellow);
        }

        &-description {
            padding-left: var(--padding);

            font-size: 0.8rem;

            color: var(--color-grey);
        }
    }

    .button {
        margin-left: 1rem;
    }
}
