#featured {
    background: hsla(0, 0%, 100%);
}

.featured {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    &__card-wrapper {
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        gap: 48px;

        @media (width < 700px) {
            gap: 40px;
        }

        @media (width < 400px) {
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        }
    }

    &__card {
        display: flex;
        flex-direction: column;

        border-radius: var(--border-radius);

        background: var(--bg-color-card);

        &-image {
            border-radius: 16px;
            margin-bottom: 0.5rem;

            aspect-ratio: 16 / 9;

            -webkit-transition: var(--transition);

            -o-transition: var(--transition);

            transition: var(--transition);
        }

        &:hover .featured__card-image {
            -webkit-filter: saturate(1.35);
            filter: saturate(1.35);
        }

        &-title {
            color: var(--txt-color-header);
            font-size: var(--txt-size-card-header);
        }

        &-rating {
            margin-bottom: 1rem;

            font-size: 1.5rem;

            color: var(--color-yellow);
        }

        &-description {
            color: var(--txt-color-subheader);
            font-size: var(--txt-size-card-subheader);
        }
    }
}
