.looking {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    &__card-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        justify-content: center;
        gap: var(--gap-card-wrapper);

        @media (width < 400px) {
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }
    }

    &__card {
        display: flex;
        flex-direction: column;

        border-radius: var(--border-radius);
    }

    &__card-image {
        border: var(--border-glass);
        border-radius: var(--border-radius);

        box-shadow: var(--shadow);

        aspect-ratio: 2 / 3;

        transition: var(--transition);

        filter: blur(0.0625rem) brightness(0.5);

        &:hover {
            cursor: pointer;
            transform: translateY(-0.5rem);
            filter: blur(0) brightness(1);
        }

        @media (width < 700px) {
            filter: blur(0) brightness(1);
        }
    }

    &__card-rating {
        margin-top: 1rem;

        font-size: 1.5rem;

        color: var(--color-yellow);
    }

    &__card-title {
        color: var(--color-white);
    }

    &__card-description {
        font-size: 0.8rem;

        color: var(--color-grey);
    }
}
