nav {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 60px;
    width: 100vw;
    width: 100dvw;

    position: fixed;
    z-index: 60;

    background-color: var(--bg-color-pri);
    border: var(--border);
}

.nav-container {
    width: 90%;
    max-width: 1500px;

    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;

    font-size: 1.2rem;
    font-weight: 600;
    line-height: 30px;

    color: var(--txt-color-title);

    img {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 36px;
        height: 36px;
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 44px;

    @media (width < 400px) {
        padding: 0 0.5rem;
    }

    &__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        font-size: 1.25rem;

        @media (width < 1000px) {
            display: none;
        }
    }

    &__link {
        padding: 0 0.75rem;

        font-size: 16px;
        font-weight: 600;
        line-height: 24px;

        color: hsla(220, 8%, 35%, 1);

        &:hover {
            color: var(--txt-color-special);
        }
    }

    .button {
        @media (width < 1000px) {
            display: none;
        }
    }
}
