nav {
    height: 5rem;
    width: 100vw;

    position: fixed;
    z-index: 60;

    @media (width < 600px) {
        height: 3.5rem;
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    top: 0.5rem;

    border: var(--border-glass);
    border-radius: var(--border-radius);
    padding: 0 1rem;

    height: 100%;

    background-color: var(--bg-frosted-white);
    -webkit-backdrop-filter: var(--bg-blur);
    backdrop-filter: var(--bg-blur);

    @media (width < 400px) {
        padding: 0 0.5rem;
    }

    &__list {
        display: flex;

        @media (width < 1000px) {
            display: none;
        }
    }

    &__link {
        border-radius: var(--border-radius);
        padding: 0.75rem 1rem;

        font-weight: 500;

        color: var(--color-white);

        &:hover {
            color: var(--color-orange);
        }
    }

    .logo {
        @media (width < 600px) {
            width: 3.5rem;
            height: 3.5rem;
        }
    }

    .button {
        @media (width < 1000px) {
            display: none;
        }
    }
}
