nav {
    height: 5rem;
    width: 100vw;

    position: fixed;
    z-index: 60;

    @media (width < 600px) {
        height: 3.5rem;
    }
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    position: relative;
    top: 0.5rem;

    border: var(--border-glass);
    border-radius: var(--border-radius);
    padding: 0 1rem;

    background-color: var(--color-white);

    @media (width < 400px) {
        padding: 0 0.5rem;
    }

    &__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        @media (width < 1000px) {
            display: none;
        }
    }

    &__link {
        border-radius: var(--border-radius);
        padding: 0.75rem 1rem;

        font-weight: 500;

        color: var(--color-black);

        &:hover {
            color: var(--color-orange);
        }
    }

    .logo {
        @media (width < 600px) {
            width: 3.5rem;
            height: 3.5rem;
        }
    }

    .button {
        background-color: var(--color-black);
        color: var(--color-white);

        @media (width < 1000px) {
            display: none;
        }

        &:hover {
            background-color: var(--color-black-secondary);
        }
    }
}
