.mockup {
    max-height: 578.87px;
    max-width: 590px;

    @media (width < 470px) {
        display: none;
    }
}

.mockup-small {
    display: none;

    max-height: 578.87px;
    max-width: 284px;

    @media (width < 470px) {
        display: block;
    }
}

.platform {
    display: flex;
    align-items: center;

    @media (width < 1450px) {
        flex-direction: column;
        gap: 2rem;
    }

    &__text-wrapper {
        padding-right: 7rem;
        padding-bottom: 4rem;
        padding-left: 2rem;

        @media (width < 800px) {
            margin-bottom: 2rem;
            padding: 0;
        }
    }

    &__title {
        text-align: start;
        margin-bottom: 1rem;
    }

    &__subtitle {
        text-transform: uppercase;

        font-size: 1.25rem;

        i {
            margin-right: 0.5rem;
        }
    }

    &__description {
        color: var();

        margin-bottom: 2.5rem;
    }

    &__benefits {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 32px;
    }

    &__benefit {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 0.5rem;
    }

    &__icon-wrapper {
        i {
            font-size: 1.15rem;

            line-height: 1.3;
        }
    }

    &__benefit-text {
        color: var(--txt-color-base);
        font-size: var(--txt-size-base);

        span {
            color: var(--txt-color-special);
            font-weight: bold;
        }
    }
}
