#testimonials {
    background: hsla(0, 0%, 98%, 1);
}

.testimonials {
    &__card {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 120px;

        @media (width < 1000px) {
            flex-direction: column;
            gap: 40px;
        }

        &-left {
            flex: 0 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-image {
            max-width: 328px;
            max-height: 328px;

            border: var(--border);
            border-radius: var(--border-radius);

            box-shadow: var(--shadow);

            @media (width < 1000px) {
                max-width: 200px;
                max-height: 200px;
            }
        }
        &-content {
            max-width: 768px;
        }
        &-stars {
            font-size: 30px;
            color: var(--color-yellow);

            margin-bottom: 20px;

            @media (width < 1000px) {
                margin-bottom: 16px;
            }
        }
        &-quote {
            font-size: 36px;
            font-weight: 500;
            line-height: 44px;

            color: hsla(220, 24%, 12%, 1);

            @media (width < 1000px) {
                font-size: 24px;
                line-height: 32px;
            }
        }
        &-bio {
            margin-top: 32px;
        }
        &-name {
            font-size: 18px;
            font-weight: 600;
            line-height: 28px;

            color: hsla(220, 24%, 12%, 1);
        }
        &-job {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;

            color: hsla(220, 8%, 35%, 1);
        }
    }
}
