.updates {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 4rem;

    &__card-wrapper {
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        gap: var(--gap-card-wrapper);

        @media (width < 400px) {
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        }
    }

    &__card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 1rem;

        border: var(--border-glass);
        border-radius: var(--border-radius);

        overflow: hidden;

        background-color: var(--bg-frosted-white);

        -webkit-box-shadow: var(--shadow);

        box-shadow: var(--shadow);
    }

    &__card-image {
        aspect-ratio: 16 / 9;
        height: auto;
    }

    &__card-title {
        padding: 0 var(--padding);
    }

    &__card-text {
        padding: 0 var(--padding);

        min-height: 4.5rem;

        color: var(--color-grey);

        overflow-y: hidden;

        @media (width < 960px) {
            min-height: 6rem;
        }
    }

    &__card-bottom {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        padding: 0 var(--padding);
        padding-bottom: var(--padding);
    }

    &__card-stats {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 0.5rem;

        i {
            font-size: 1rem;

            color: var(--color-yellow);
        }
    }
}
