.updates {
    display: flex;
    flex-direction: column;

    &__card-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
        gap: 2rem;

        @media (width < 500px) {
            gap: 3rem;
        }

        @media (width < 400px) {
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        }
    }

    &__card {
        display: flex;
        flex-direction: column;

        padding: 16px;

        @media (width < 500px) {
            padding: 10px;
        }

        @media (width < 400px) {
            padding: 0;
        }
    }

    &__card-stats {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 0.5rem;

        i {
            font-size: 1rem;

            color: var(--txt-color-special);
        }
    }
}
