.container {
    width: 90%;

    margin: 0 auto;
    max-width: 1500px;

    position: relative;
}

.image-solo {
    border-radius: var(--border-radius);

    max-width: 1000px;

    -webkit-box-shadow: var(--shadow);

    box-shadow: var(--shadow);
}

.idkbro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.align-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin-bottom: auto;
}

.nav-btn-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;

    height: fit-content;
}

.button {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    border-radius: var(--border-radius);
    padding: 10px 16px;

    width: fit-content;

    font-size: 16px;
    line-height: 24px;
    font-weight: 600;

    color: hsl(0, 0%, 100%);
    background: var(--bg-color-button);
    box-shadow: var(--shadow);

    transition: var(--transition);

    cursor: pointer;

    &:hover {
        background: var(--bg-color-button-hover);
    }

    &-login {
        border: var(--border);
        padding: 6px 16px;

        color: hsla(220, 11%, 29%, 1);

        background: var(--bg-color-pri);

        &:hover {
            background: hsl(0, 0%, 98%);
        }
    }

    &-signup {
        padding: 6px 16px;

        background: var(--bg-color-button);
        &:hover {
            background: var(--bg-color-button-hover);
        }
    }
}

.button-direct {
    display: flex;
    align-items: center;
    gap: 5px;

    margin-top: 12px;

    font-size: 16px;
    font-weight: 500;
    line-height: 24px;

    color: var(--txt-color-special);

    &:hover {
        color: hsla(337, 79%, 61%, 1);
    }

    i {
        font-size: 20px;
        font-weight: 500;
    }
}

.card-avatar-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;

    margin-top: 24px;
}

.card-avatar {
    width: 40px;
    height: 40px;

    border-radius: 50%;
}

.card-avatar-text {
    display: flex;
    flex-direction: column;
}

.card-avatar-name {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    color: hsla(220, 24%, 12%, 1);
}

.card-avatar-date {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: hsla(220, 8%, 35%, 1);
}

.card-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.text-card-stat {
    display: flex;
    gap: 0.5rem;

    font-size: 14px;
    font-weight: 400;

    color: var(--txt-color-base);
}

.card-image {
    margin-bottom: 20px;
    border: var(--border);
    border-radius: var(--border-radius);

    aspect-ratio: 16 / 9;
    height: auto;

    box-shadow: var(--shadow);
}

.text-small {
    font-size: var(--txt-size-small);
    font-weight: 400;

    color: var(--txt-color-special);
}

.card-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 30px;
}

.text-card-base {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    color: hsla(220, 8%, 35%, 1);

    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.scrolled {
    border-bottom: 2px solid hsla(220, 5%, 92%, 1);

    box-shadow: var(--shadow);
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-bottom: 70px;
}

.learn-more-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;

    border-left: 4px solid var(--txt-color-special);
    padding-left: 24px;
}

.text-base {
    font-size: var(--txt-size-base);
    font-weight: 400;
    line-height: 28px;

    color: var(--txt-color-base);
}
