.browse {
    display: flex;
    flex-direction: column;
    gap: 5rem;

    &__text-wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 2rem;

        @media (width >= 600px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__card-wrapper {
        // display: grid;
        // grid-template-columns: repeat(4, 1fr);
        // gap: var(--gap-card-wrapper);

        // @media (width < 1300px) {
        //     grid-template-columns: repeat(2, 1fr);
        //     gap: var(--gap-card-wrapper-medium);
        // }

        // @media (width < 750px) {
        //     grid-template-columns: repeat(1, 1fr);
        //     gap: var(--gap-card-wrapper-large);
        // }

        position: relative;
    }

    &__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        //position: relative;

        border: var(--border-glass);
        border-radius: var(--border-radius);

        aspect-ratio: 1 / 1;
        //aspect-ratio: 16 / 9;
        max-width: 400px;

        box-shadow: var(--shadow);

        &:before {
            content: "";

            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            width: 100%;
            height: 100%;

            border-radius: var(--border-radius);

            background-size: cover;
            background-position: 55% 50%;

            filter: blur(2px) brightness(0.8);

            transition: var(--transition);
        }

        &:nth-child(1) {
            z-index: 4;
        }

        &:nth-child(2) {
            z-index: 3;
            top: 25%; // Adjust this value to control how much the card overlaps
            left: 25%; // Adjust this value to control how much the card overlaps
        }

        &:nth-child(3) {
            z-index: 2;
            top: 50%; // Adjust this value to control how much the card overlaps
            left: 50%; // Adjust this value to control how much the card overlaps
        }

        &:nth-child(4) {
            z-index: 1;
            top: 75%; // Adjust this value to control how much the card overlaps
            left: 75%; // Adjust this value to control how much the card overlaps
        }

        &:nth-child(1)::before {
            background-image: url("../images/rdr2-bg.jpg");
            background-position: 80% 50%;
        }

        &:nth-child(2)::before {
            background-image: url("../images/bf5-bg.jpg");
        }

        &:nth-child(3)::before {
            background-image: url("../images/witcher-3-bg.jpg");
        }

        &:nth-child(4)::before {
            background-image: url("../images/gos-bg.jpg");
        }

        &:hover::before {
            filter: blur(1px) brightness(0.5);
        }
    }

    &__card-title {
        display: none;
    }
}
