.header {
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;
    text-align: center;

    //height: 100vh;

    &__stat-wrapper {
        display: flex;
        align-items: center;

        //border: var(--border-glass);
        //border-radius: var(--border-radius);
        //padding: 0.5rem 1rem;

        //background-color: var(--bg-frosted-white);

        font-size: 1.5rem;

        @media (width < 1200px) {
            font-size: 1.25rem;
        }
    }

    img {
                //aspect-ratio: 16 / 9;

        border-radius: var(--border-radius-inner);
    }

    &__image {

    }

    &__stat-platforms {
        display: flex;
        gap: 0.5rem;

        margin: 0 0.75rem;
    }

    &__stat-icon {
        width: 2.75rem;
        height: 2.75rem;

        border-radius: 50%;

        @media (width < 1200px) {
            width: 2.25rem;
            height: 2.25rem;
        }

        &:not(:first-child) {
            margin-left: -1rem;
        }
    }

    &__title {
        color: var(--color-white);
    }

    &__description {
        font-size: 1.35rem;

        @media (width < 703px) {
            font-size: 1.1rem;
        }
    }

    &__list {
        display: none;
        margin-bottom: 1.5rem;
    }

    &__point {
        color: var(--color-grey);

        font-size: 1.35rem;

        @media (width < 703px) {
            font-size: 1.1rem;
        }
    }

    &__description {
        margin-bottom: 1.5rem;
    }

    .button {
        margin-bottom: 3rem;
    }

    .image-wrapper {
        padding: var(--padding-image-wrapper);
        padding: 0;
        border: 0;

        box-shadow: var(--shadow);

        @media (width <= 600px) {
            padding: var(--padding-image-wrapper-sm);
        }
    }
}
