@import "styles/style.scss";

.header {
    display: flex;
    flex-direction: column;

    padding-top: 15rem;
    padding-bottom: 10rem;

    height: 100vh;

    @media (width >= 1000px) {
        padding-top: 22.5rem;
        padding-bottom: 22.5rem;
    }

    &__title {
        width: 70%;
    }

    &__description {
        width: 70%;
    }

    &__offer {
        border: $border-glass;
        border-radius: $border-radius;
        padding: 0.5rem 1rem;

        width: fit-content;

        font-weight: 500;

        color: $white;
        background-color: $background-color;
        -webkit-backdrop-filter: $background-blur;
        backdrop-filter: $background-blur;
    }

    &__description {
        margin-bottom: 1.5rem;
    }
}
