@import "styles/style.scss";

.newsletter {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    border-radius: var(--border-radius);
    padding: var(--padding);

    @media (width < 400px) {
        text-align: center;
        align-items: center;
    }

    &__input-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @media (width < 400px) {
            text-align: center;
            align-items: center;
        }
    }

    &__input {
        border-radius: var(--border-radius);
        padding: 0.75rem 1.25rem;

        -webkit-backdrop-filter: var(--blur);
        backdrop-filter: var(--blur);
        background: var(--color-white);
        color: var(--color-black);
    }

    &__image-wrapper {
        display: flex;

        @media (width >= 1200px) {
            max-width: 50%;
        }
    }
}
