@import "styles/style.scss";

#newsletter {
    padding: 5rem 0;

    @media (width >= 700px) {
        padding: 10rem 0;
    }
}

.newsletter {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    border-radius: $border-radius;
    padding: $padding;

    &__input-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__input {
        border-radius: $border-radius;
        padding: 0.75rem 1.25rem;

        -webkit-backdrop-filter: $background-blur;
        backdrop-filter: $background-blur;
        background: $white;
        color: $black;
    }

    &__image-wrapper {
        display: flex;

        @media (width >= 1200px) {
            max-width: 50%;
        }
    }
}
