@import "styles/style.scss";

.opinions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    @media (width < 850px) {
        text-align: center;
    }

    &__image-wrapper {
        img {
            aspect-ratio: 1 / 1;
        }
    }

    &__card-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--gap-card-wrapper);

        @media (width < 1300px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (width < 850px) {
            grid-template-columns: 1fr;
        }
    }
    &__card-wrapper-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    &__card-wrapper-3 {
        display: flex;
        flex-direction: column;
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 1rem;

        min-height: 15rem;
        max-width: 600px;

        border: var(--border-glass);
        border-radius: var(--border-radius);
        padding: var(--padding);

        -webkit-backdrop-filter: var(--blur);
        backdrop-filter: var(--blur);

        box-shadow: var(--shadow);
    }
    &__card-image {
        border-radius: 100%;

        width: 5.5rem;
        height: 5.5rem;
    }
    &__card-name {
        font-size: 1.5rem;

        @media (width < 500px) {
            font-size: 1.25rem;
        }
    }
    &__card-location {
        font-size: 1rem;
    }
    &__card-rating {
        color: var(--color-yellow);

        font-size: 1rem;
        font-size: 1rem;
    }
}
