.reason {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;

    &__text-wrapper {
        display: flex;
        flex-direction: column;
    }

    &__feature-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;

        margin-top: 2rem;
    }

    &__feature {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__feature-name {
        font-size: 1.125rem;

        color: var(--color-white);

        ul {
        }

        li {
            list-style:circle;
            list-style-position: inside;

            padding-left: 1rem;

            color: var(--color-grey);
        }
    }

    &__image {
        max-height: 600px;
    }
}
