.reason {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;

    @media (width < 1000px) {
        display: flex;
        flex-direction: column;
    }

    &__text-wrapper {
        display: flex;
        flex-direction: column;

        @media (width < 1000px) {
            order: 1;
        }
    }

    &__feature-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;

        margin-top: 2rem;
    }

    &__feature {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__feature-name {
        font-size: 1.125rem;

        color: var(--color-white);

        ul {
        }

        li {
            list-style: circle;
            list-style-position: inside;

            padding-left: 1rem;

            color: var(--color-grey);
        }
    }

    .image-wrapper {
        padding:  0 0 var(--padding-image-wrapper) var(--padding-image-wrapper);

                @media (width < 1000px) {
            order: 2;
        }
    }

    .image-solo {
        border-radius: 0 var(--border-radius-inner) 0 var(--border-radius-inner) ;
    }
}