.slider {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1.3rem 0;
}

.slider-track {
    display: flex;
    gap: 5rem;

    width: calc((100px * 28) + (5rem * 27));

    animation: scroll 28s linear infinite;
}

.slide {
    width: 100px;
    flex-shrink: 0;

    transform: translate3d(0, 0, 0);

    img {
        display: block;
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-20%);
    }
}
