/*Colors*/
$white: hsl(0, 0%, 100%);
$grey: hsl(0, 0%, 65%);
$black: hsla(0, 0%, 6%);
$orange: hsl(38, 91%, 48%);
$yellow: hsl(45, 100%, 50%);
$cyan: hsl(178, 100%, 50%);

/*Background & Shadows*/
//$background-color: rgba(17, 25, 40, 0.71);
//$background-color: rgba(17, 39, 40, 0.71);
$background-color: rgba(193, 194, 194, 0.11);


$background-blur: blur(16px) saturate(180%);
$background-blur-webkit: -webkit-blur(16px) saturate(180%);
$shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
$shadow-card: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));

/*Spacing & Borders*/
$border-cyan: 1px solid $cyan;
$border-white: 1px solid $white;
$border-glass: 1px solid rgba(255, 255, 255, 0.125);
$border-radius: 0.5rem;
$padding: 1rem;
$gap-card-wrapper: 1.5rem;

/*Hover Effects*/
$transition: all 0.3s ease-in-out;

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;

    background-color: hsla(0, 0%, 4%);
    color: hsl(0, 0%, 100%);

    display: grid;
    grid-template-areas:
        "nav"
        "header"
        "main"
        "footer";

    min-height: 100vh;

    position: relative;

    &::before {
        content: "";

        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        width: 100%;
        height: 100%;

        background-image: url("/images/gradient-bg.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        filter: brightness(0.15);
        //filter: blur(20px);
    }
}

nav {
    grid-area: nav;

    box-sizing: content-box;
    border: $border-glass;

    background-color: $background-color;
}

header {
    grid-area: header;

    position: relative;

    &::before {
        content: "";

        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        width: 100%;
        height: 100%;

        background-image: url("../images/returnal.jpg");
        background-size: cover;
        background-position: center;
        background-position: 90% 0%;
        background-repeat: no-repeat;

        filter: brightness(0.8);

        @media (width <= 1000px) {
            background-position: 55% 0%;
        }
    }
}

footer {
    grid-area: footer;
}

main {
    display: grid;
    grid-area: main;
    grid-template-areas:
        "platform"
        "featured"
        "browse"
        "opinions"
        "reason"
        "looking"
        "updates"
        "newsletter";
    grid-template-rows: auto;

    -webkit-backdrop-filter: $background-blur;
    backdrop-filter: $background-blur;
}

section {
    position: relative;

    &::before {
        content: "";

        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        width: 100%;
        height: 100%;

        //background-size: cover;
        //background-position: center;

        //filter: brightness(0.15);
        //filter: blur(20px);
    }
}

#platform {
    grid-area: platform;

    &::before {
        //background-image: url("/images/black-bg-2.jpg");
    }
}

#featured {
    grid-area: featured;

    position: relative;

    &::before {
        //background-image: url("/images/geralt.jpg");
        //background-image: url("/images/black-bg-2.jpg");
    }
}

#browse {
    grid-area: browse;

    &::before {
        //background-image: url("/images/black-bg-2.jpg");
    }
}

#reason {
    grid-area: reason;

    &::before {
        //background-image: url("/images/valorant.jpg");
    }
}

#looking {
    grid-area: looking;

    &::before {
        //background-image: url("/images/black-bg-2.jpg");
    }
}

#opinions {
    grid-area: opinions;

    &::before {
        //background-image: url("/images/black-bg-2.jpg");
    }
}

#updates {
    grid-area: updates;

    &::before {
        //background-image: url("/images/lies-of-p-bg.jpeg");
        //background-image: url("/images/black-bg-2.jpg");
    }
}

#newsletter {
    grid-area: newsletter;

    display: none;

    &::before {
        //background-image: url("/images/black-bg-2.jpg");
    }
}

h1 {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;

    font-size: 5.5rem;

    text-transform: capitalize;
}

h2 {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

    text-transform: capitalize;

    font-size: 1.75rem;

    color: $white;

    @media (width >= 600px) {
        font-size: 2rem;
    }

    @media (width >= 1000px) {
        font-size: 2.5rem;
    }

    @media (width >= 1200px) {
        font-size: 2.75rem;
    }
}

h3 {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

    text-transform: capitalize;

    font-size: 1.25rem;

    color: $white;

    @media (width >= 500px) {
        font-size: 1.5rem;
    }
}

p {
    font-size: 0.8rem;

    @media (width >= 500px) {
        font-size: 1rem;
    }
}

a {
    cursor: pointer;
}

img {
    display: inline;
    object-fit: cover;
    object-position: center;

    width: 100%;
}

.container {
    width: 90%;

    margin: 0 auto;
    max-width: 1800px;

    position: relative;

    @media (width <= 400px) {
        width: 95%;
    }
}

.window-scrolled {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
    box-sizing: content-box;

    -webkit-backdrop-filter: $background-blur;
    backdrop-filter: $background-blur;
}

.button {
    box-shadow: $shadow;
    border: $border-glass;
    border-radius: $border-radius;
    padding: 0.75rem 1.25rem;

    width: fit-content;

    font-weight: 500;

    color: $white;
    background-color: $background-color;

    &:hover {
        transition: $transition;

        box-shadow: $shadow inset;
    }

    &:active {
        border: 1px solid $white;
    }
}

.blur-bg {
    -webkit-backdrop-filter: $background-blur;
    backdrop-filter: $background-blur;
}

.nav-container {
    width: 95%;

    margin: 0 auto;
    max-width: 1800px;

    position: relative;

    @media (width <= 1000px) {
        width: 100%;
    }
}
